.App {
    text-align: center;
    background-color: #121212;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .App-header {
    margin-bottom: 20px;
  }
  
  main {
    width: 100%;
    max-width: 600px;
  }
  